.streamlit/secrets.toml
*.db
__pycache__/
venv/
*.pyc
data/
*.XLS
~$*
General Ledger*.xlsx
Job Summary*.xlsx
Job Cost Query*.xlsx
Job Cost Status*
Sales Analysis*.xlsx
*budget*.xlsx
Labor Distribution*
